[submodule "httpLibrary"]
	path = httpLibrary
	url = https://niyueming@github.com/niyueming/httpLibrary.git
[submodule "okHttp3Library"]
	path = okHttp3Library
	url = https://niyueming@github.com/niyueming/okHttp3Library.git
[submodule "imageLoaderLibrary"]
	path = imageLoaderLibrary
	url = https://niyueming@github.com/niyueming/imageLoaderLibrary.git
[submodule "frescoImageLoaderLibrary"]
	path = frescoImageLoaderLibrary
	url = https://niyueming@github.com/niyueming/frescoImageLoaderLibrary.git
[submodule "aphHttpReturn"]
	path = aphHttpReturn
	url = https://git.oschina.net/nym/aphhttpreturn.git
